.container {
    height: 100%;
    display: grid;


   grid-template-columns: 5, 100px;
   grid-template-rows: 10, 100px;

    
}


.area {

  border:1px solid black;
}

#sidebar {
    display: flex;
    flex-direction: column;
    gap:20px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 10;
  }


  .top-section-sidebar{

    display: flex;
    flex-direction: column;
    gap:10px;
  }
  

  .bottom-section-sidebar{

    display: flex;
    flex-direction: column;
    gap:10px;
  }

  #content {

    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 10;

  }


  #header {

    display: flex;
   flex-direction: column;
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 3;
  }

   .search-container {
    gap:10px;
    display: flex;

    border: 1px solid green;
  
    margin-right: auto;
    
    

  }


  .profile-container {
    gap:10px;
    display: flex;
    margin-left: auto;
  }
  

  .header-container-bottom {
    gap:10px;
    display: flex;
    flex-wrap: wrap;
  }

  .header-container-bottom-first-section {
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
  }

  .profile-greeting-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
  }

  .header-container-bottom-second-section {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:20px;
  }


  